.navbar {
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar_ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    list-style: none;
}