.dashboardNavbar {
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.dashboardNavbar_ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    list-style: none;
}